
%tr
  %td= link_to_if(can?(:read, user), "#{user.email}", user_path(user.id)) {}
  %td= user.roles.roles_sorted.collect{|r| r.name}.join(', ')
  %td= link_to_if(can?(:edit, user), t('users._user.edit_link'), edit_user_path(user.id)) {}
  %td= link_to_if(can?(:destroy, user), t('users._user.delete_link'), user, :confirm => t('users._user.delete_user_confirm_popup'), :method => :delete) {}