
.form
  %h2= t('users.edit.heading', :email => @user.email)
  
  %p
    = link_to_if(can?(:destroy, @user), t('users.edit.delete_user_link'), @user, :confirm => t('users.edit.delete_user_confirm_popup'), :method => :delete) {}
    = t('common.or')
    = link_to_if(can?(:read, @user), t('users.edit.all_users_link'), users_path) {} 
  
  = semantic_form_for @user do |f|
  
    = render 'shared/error_messages', :object => @user
    
    = f.inputs do
      = f.input :email, :as => :string 
      = f.input :password, :as => :password, :hint => t('users.edit.password_hint')
      = f.input :password_confirmation, :as => :password 
      = f.input :roles, :as => :check_boxes, :collection => @accessible_roles
      = f.input :locked_at, :as => :boolean
      
    = f.buttons do    
      = f.commit_button :update_this_user
      = t('common.or')
      = link_to_if(can?(:read, User), t('users.new.cancel_link'), users_path) {}

.clear