
.list

  %h2= t('users.index.heading')
  
  %p= link_to_if(can?(:create, User), t('users.index.create_user_link'), new_user_path) {}
  
  = will_paginate @users
  
  %table
    %tr
      %th= t('users.index.user_list.email_heading')
      %th= t('users.index.user_list.role_heading')
      %th
      %th
    = render @users
  
  = will_paginate @users
  
.clear
  