
.form
  %h2= t('users.new.heading')
  
  = semantic_form_for @user do |f|
    
    = render 'shared/error_messages', :object => @user
    
    = f.inputs do
      = f.input :email, :as => :string 
      = f.input :password, :as => :password 
      = f.input :password_confirmation, :as => :password 
      = f.input :roles, :as => :check_boxes, :collection => @accessible_roles
      
    = f.buttons do    
      = f.commit_button :create_this_user
      = t('common.or')
      = link_to_if(can?(:read, User), t('users.new.cancel_link'), users_path) {}

.clear