%p= t('devise.mailer.reset_password_instructions.welcome_message', :email => @resource.email)
%p= t('devise.mailer.reset_password_instructions.confirm_link_explanation')
%p= link_to t('devise.mailer.reset_password_instructions.confirm_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('devise.mailer.reset_password_instructions.ignore_mail_explanation')
%p= t('devise.mailer.reset_password_instructions.change_explanation')
