%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title= title
    = render 'layouts/stylesheets'
    = render 'layouts/javascript'
    = csrf_meta_tag 

  %body>
    
    .content
    
      = render 'layouts/header'
    
      - flash.each do |key, value|
        .flash{:class => "#{key}"}= value
        
      = yield
    
      = render 'layouts/footer'
    
