%p= t('users.mailer.reset_password_instructions.welcome_message', :email => @resource.email)
%p= t('users.mailer.reset_password_instructions.confirm_link_explanation')
%p= link_to t('users.mailer.reset_password_instructions.confirm_link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p= t('users.mailer.reset_password_instructions.ignore_mail_explanation')
%p= t('users.mailer.reset_password_instructions.change_explanation')
